body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

h3 {
  display: inline-block;
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 90px;
}

#refreshButton {
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  font-weight: bold;
  outline: none;
  background: none;
  cursor: pointer;
}

#taskInputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#taskInput {
  flex-grow: 1;
  padding: 5px;
}

#addTaskButton {
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

#todo-list {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.details {
  margin-left: auto;
  padding-left: 50px;
  display: flex;
  align-items: center;
}

li .details {
  margin-left: 30px;
  flex-grow: 1;
}

.task-description {
  flex-grow: 1;
  margin-right: 10px;
}

.edit-button,
.delete-button {
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.delete-icon {
  color: red;
}

.delete-icon::before {
  content: "\ \00D7";
  font-size: 24px;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

.details input[type="checkbox"] {
  margin-left: 10px;
}

.details .dots {
  cursor: pointer;
  margin-left: 5px;
}

button[type="reset"] {
  display: block;
  margin: 0 auto;
  border: #aea8a8;
  background: none;
  cursor: pointer;
  color: inherit;
  padding: 0;

  /* text-decoration: underline; */
  transition: color 0.3s;
}

button[type="reset"]:hover {
  color: rgb(2, 2, 255);
}
